<a href="https://colab.research.google.com/github/zhangshichong/luckydog/blob/master/LuckyDog.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
nums = []
for i in range(5):
  num1 = np.random.randint(1, 36, 5)
  num2 = np.random.randint(1, 13, 2)
  num = list(num1)+list(num2)
  nums.append(num)
print(nums)

[[30, 18, 26, 14, 17, 3, 8], [12, 22, 14, 5, 3, 4, 10], [14, 14, 26, 29, 1, 9, 8], [23, 30, 10, 2, 6, 3, 3], [32, 16, 22, 20, 13, 12, 6]]

In [6]:
nums

[[30, 18, 26, 14, 17, 3, 8],
 [12, 22, 14, 5, 3, 4, 10],
 [14, 14, 26, 29, 1, 9, 8],
 [23, 30, 10, 2, 6, 3, 3],
 [32, 16, 22, 20, 13, 12, 6]]